app = "microsillons-strapi"
primary_region = "cdg"

[build]

[env]
  NODE_ENV = "production"
  HOST = "0.0.0.0"
  PORT = "1337"

[http_service]
  internal_port = 1337
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1

[checks]
  [checks.health]
    type = "http"
    port = 1337
    path = "/_health"
    interval = "30s"
    timeout = "5s"
    grace_period = "60s"
